<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<header>
		<div class="jumbotron text-center">
		<h1>Youtube Comments Spam Detection</h1>
		<p class="text-muted font-weight-bold">Machine Learning Web Application </p>
		</div>
	</header>

	

	<div class="results">

	<h2 style="color:red";>spam</h2><br>
	{% for item in data[0] %}
        <p>{{item}}</p><br>
    {% endfor %}

	<h2 style="color:blue;">Not spam</h2><br>
	{% for item in data[1] %}
        <p>{{item}}</p><br>
    {% endfor %}
	</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>